1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [16]:
lista=[] #crea la lista
#NB: i tuple non possono essere modificati
for i in range (1,101):
    if ((i%3)==0 and (i%5)!=0):
        print('Mikey')
        lista.append('Mickey')
    elif ((i%5)==0 and (i%3)!=0): 
        print('Mouse')
        lista.append('Mouse')
    elif ((i%5)==0 and (i%3)==0):
        print('MikeyMouse')
        lista.append('MickeyMouse')
    else:
        print(i)
        lista.append(i)
    
a=tuple(lista) #trasforma la lista in una tuple

for j in range (0,100):
    if (lista[j]=='Mickey'):
        lista[j]='Donald'
    elif (lista[j]=='Mouse'):
        lista[j]='Duck'
    print(lista[j])

b=tuple(lista)

1
2
Mikey
4
Mouse
Mikey
7
8
Mikey
Mouse
11
Mikey
13
14
MikeyMouse
16
17
Mikey
19
Mouse
Mikey
22
23
Mikey
Mouse
26
Mikey
28
29
MikeyMouse
31
32
Mikey
34
Mouse
Mikey
37
38
Mikey
Mouse
41
Mikey
43
44
MikeyMouse
46
47
Mikey
49
Mouse
Mikey
52
53
Mikey
Mouse
56
Mikey
58
59
MikeyMouse
61
62
Mikey
64
Mouse
Mikey
67
68
Mikey
Mouse
71
Mikey
73
74
MikeyMouse
76
77
Mikey
79
Mouse
Mikey
82
83
Mikey
Mouse
86
Mikey
88
89
MikeyMouse
91
92
Mikey
94
Mouse
Mikey
97
98
Mikey
Mouse
1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
MickeyMouse
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
MickeyMouse
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
MickeyMouse
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
MickeyMouse
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
MickeyMouse
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
MickeyMouse
91
92
Donald
94
Duck
Donald
97
98
Donald
Duck

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [20]:
x=input('Insert first variable:')
y=input('Insert second variable:')

def swap (x,y):
    return y,x   #NB: in python si può ritornare più variabili
x,y=swap(x,y) 

print(x,y)

Insert first variable:1
Insert second variable:2
2 1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [25]:
x1=float(input('Insert x1:'))
y1=float(input('Insert y1:'))
x2=float(input('Insert x2:'))
y2=float(input('Insert y2:'))

u=(x1,y1)
v=(x2,y2)

def distance(u,v):
    distance=(((u[0]-v[0])**2+(u[1]-v[1])**2))**(1/2)
    return distance

print(distance(u,v))

Insert x1:1
Insert y1:2
Insert x2:3
Insert y2:4
2.8284271247461903

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [37]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
alfabeto=('abcdefghilmnkjopqrstuvwxyz., ')
for i in range(0, len(alfabeto)):
    print('Numero di', alfabeto[i], ':', s.count(alfabeto[i]))

Numero di a : 7
Numero di b : 4
Numero di c : 3
Numero di d : 3
Numero di e : 22
Numero di f : 9
Numero di g : 1
Numero di h : 9
Numero di i : 14
Numero di l : 6
Numero di m : 8
Numero di n : 10
Numero di k : 2
Numero di j : 0
Numero di o : 13
Numero di p : 8
Numero di q : 0
Numero di r : 17
Numero di s : 9
Numero di t : 19
Numero di u : 9
Numero di v : 2
Numero di w : 1
Numero di x : 0
Numero di y : 2
Numero di z : 0
Numero di . : 2
Numero di , : 0
Numero di   : 41

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [61]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

for k in range(0, len(l)):
    unique=1
    number=0
    for j in range(0, k):
        if(l[j]==l[k]):
            unique=0
        else: number+=1
    for j in range(k+1, len(l)):
        if(l[j]==l[k]):
            unique=0
        else: number+=1
    if(unique==1):
        print(l[k])
print('Numbers of unique numbers:', number)

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53
Numbers of unique numbers: 77

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [55]:
x=float(input('Insert the number:'))

def square(x):
    return x*x

def cube(x):
    return x*x*x

def power6(x):
    return cube(square(x))

print(x, square(x), cube(x), power6(x))

Insert the number:2
2.0 4.0 8.0 64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [67]:
lista=[0,1,3,4,5,6,7,8,9,10]
cube_list=[]
cube_list_C=[]

def cube(x):
    return x*x*x

for i in range(0,len(lista)):
    cube_list.append(cube(lista[i]))
    print(cube_list[i])

cube_list_C=[cube(x) for x in lista]
print(cube_list_C)

0
1
27
64
125
216
343
512
729
1000
[0, 1, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [80]:
lista=[]
for i in range (1,101):
    for j in range(i+1, 101):
        if(((i*i+j*j)**(1/2))%1==0) and (((i*i+j*j)**(1/2))<=100):
           lista.append((i, j, int((i*i+j*j)**(1/2))))
print(lista)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:


def  normalizer(u):
    lista